.alphaButton {
  background-color: #f08080;
  border-color: #f08080;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 90px;
}

.betaButton {
  background-color: #1e90ff;
  border-color: #1e90ff;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 90px;
}

.backButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 80px;
}

.win {
  font-size: 12px;
}

.mostWins {
  color: red;
}

.alphaButton + .betaButton {
  margin-left: 15px;
}

.betaButton + .backButton {
  margin-left: 90px;
}
